:root {
  --background-body: #121212;
  --background-highlight: #3a3a3a;
  --text-color: #c49c9c;

  --site-global-scale: 70%
}

html {
  font-family: "Times New Roman", Times, serif;
  /* text-align: center; */
  margin: auto;
}

body {
  background: var(--background-body);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: var(--site-global-scale);
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

footer {
  text-align: center;
  padding: 16px;
}

/* Horizontal rule replacement */
.hrule {
  display: block;
  height: 1px;
  width: var(--site-global-scale);
  border: 0;
  border-top: 1px solid  var(--text-color);
  margin: 1em 0;
  padding: 0;
}

a, a:visited {
  color: var(--text-color);
}

.navbar {
  border-top: 1px solid var(--background-highlight);
  border-bottom: 1px solid var(--background-highlight);
  padding: 8px;
  width: var(--site-global-scale);
  text-align: center;
}


th {
  /* border-bottom: 1px solid; */
  text-align: left;
}

th, td {
  padding: 6px;
}