html {
  --text-color: #c49c9c;
  --body-min-width: 50%;
  background-color: #121212;
  color: var(--text-color);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 16px;
}

img {
  margin: 16px;
}

a, a:visited {
  color: var(--text-color);
}



.toc {
  width: var(--body-min-width);
  margin: auto;
  text-align: left;

  h2 {
    margin: 2px;
  }

  ul {
    padding: 8px;
    margin: 2px
  }
}

.list-of-links {
  width: var(--body-min-width);
  margin: auto;
  text-align: left;
  
  .link-list-title {
    margin: 2px;
  }
}

.link-item {
  padding: 8px;
  border-bottom: 1px solid #3e3e3e;
}

.link-item p {
  margin: 2px
}

.list-of-posts {
  width: var(--body-min-width);
  margin: auto;
  text-align: left;
  
  .link-list-title {
    margin: 2px;
  }
}

.post-item {
  padding: 8px;
  border-bottom: 1px solid #3e3e3e;
}

.post-item p, .post-item pre {
  margin: 2px
}

.navbar {
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e;
  padding: 8px;
  width: var(--body-min-width);
}