:root {
  --background-body: #121212;
  --background-highlight: #3a3a3a;
  --text-color: #c49c9c;
}

html {
  font-family: "Times New Roman", Times, serif;
  margin: auto;
}


body {
  /* line-height: 1.5; */
  margin: 1rem;
  max-width: 768px;
  background: var(--background-body);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  text-align: center;
}

a {
  color: var(--text-color);
}

nav {
  border-top: 1px solid var(--background-highlight);
  border-bottom: 1px solid var(--background-highlight);
  padding: 8px;
  width: var(--site-global-scale);
  text-align: center;
}
